/* Terra Documentation Theme */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.logo {
    height: 20px !important;
}

.nav-footer {
    background-color: #18181a;
}

/* make navbar link bold if active */

.navigationSlider .slidingNav ul li.siteNavGroupActive a {
    font-weight: 500 !important;
}

/* make sidebar titles bold */

.toc .toggleNav .navGroup .navGroupCategoryTitle {
    font-weight: 500 !important;
}

/* different blockquotes */
blockquote {
    border-radius: 5px;
    background-color: #fff8e1;
    border-left: 8px solid #f8d45e;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.05);
}

blockquote.info {
    background-color: #f5f9ff;
    border-left: 8px solid #297deb;
}

blockquote.danger {
    background-color: #fcf4f4;
    border-left: 8px solid #df1212;
}

blockquote.warning {
    background-color: #fff7f2;
    border-left: 8px solid #f8823e;
}

.button {
    border-radius: 25px;
    padding: 15px;
}

body, button, input, textarea
{
    font-family:"G1" !important;
    color: #2845ae;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400 !important;
    color: #5493f0;
}

.onPageNav .toc-headings > li > a.active {
    font-weight: 500;
    color: #2845ae;
}

h1 {
    font-size: 40px;
}

/* hide that > */
.toggleNav h2 i {
    display: none;
}

.post a {
    color: #5493f0;
    font-weight: 500;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.button > span {
    font-weight: 600 !important;
}

.docs-prev.button > span:first-child {
    padding-left: 15px;
}
.docs-prev.button > span:last-child {
    padding-right: 15px;
}

.docs-next.button > span:first-child {
    padding-left: 15px;
}
.docs-next.button > span:last-child {
    padding-right: 15px;
}

.button:hover {
    background-color: transparent !important;
    border: solid 1px #5493f0;
    color: #5493f0;
}

code {
    font-family: "Fira Code", monospace !important;
    font-variant-ligatures: none;
}

/* algolia search */

/*
input#search_input_react {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid hsla(0,0%,100%,.9);
}

input#search_input_react::placeholder {
    color: hsla(0,0%,100%,.3);
}

*/