/* Terra Documentation Theme */


:root {
    /* page colors */
    --bg-color: #ffffff;
    --tone-color: #f8f9fe;
    
    /* page typography */
    --base-font-color: #2043B5;
    --base-header-color: #2043b5;
    --link-color: #5493f7;
    --base-font-size: 15px;
    --h1-size: 34px;
    --h2-size: 24px;
    --h3-size: 18px;
    --h4-size: 14px;

    /* blockquotes */
    --bq-font-size: 13px;
    --bq-header-size: 18px;

    /* white note - default */
    --bq-default-bg-color: #ffffff;
    --bq-default-border-color: #e7ebf6;

    /* yellow note */
    --bq-note-header-text: "note";
    --bq-note-edge-color: #facb32;
    --bq-note-bg-color: #ffffff;
    --bq-note-text-color: #ca9d08;

    /* orange note */
    --bq-important-header-text: "important";
    --bq-important-edge-color: #f8823e;
    --bq-important-bg-color: #ffffff;
    --bq-important-text-color: #b85013;

    /* blue note */
    --bq-tip-header-text: "tip";
    --bq-tip-edge-color: #1a8bd6;
    --bq-tip-bg-color: #ffffff;
    --bq-tip-text-color: #0e59a0;

    /* red note */
    --bq-warning-header-text: "warning";
    --bq-warning-edge-color: #df1212;
    --bq-warning-bg-color: #ffffff;
    --bq-warning-text-color: #b30f0f;

}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 0px) and (max-width: 1023px) {
    .post {
        position: relative;
        top: 25px;
    }
}

@media only screen and (min-width: 1024px) {
    /*
    .wrapper {
        max-width: 1420px !important;
    }
    */
    .docMainWrapper.wrapper {
        padding-left: 0;
        padding-right: 20px;
    }
    
    #docsNav {
        padding-left: 20px;
        padding-right: 20px;
        background-color: #0c3694;
        flex: 0 0 245px;
    }

    .onPageNav {
        padding-right: 30px;
        flex: 0 0 250px;
    }
    
    .arrow path:first-of-type {
        fill: #ffffff !important;
    }
    
    /* make sidebar titles bold */
    
    .toc .toggleNav ul li a {
       color: hsla(0,0%,100%,.75);
    }
    
    .toc .toggleNav .navGroup .navGroupSubcategoryTitle {
        color: hsla(0,0%,100%,.87);
    }
    
    .toc .toggleNav ul li.navListItemActive a {
        color: #ffffff;
        font-weight: 500;
    }
    
    .toc .toggleNav .navGroup .navGroupCategoryTitle {
        color: #ffffff;
        font-weight: 400 !important;
    }

    .toc .toggleNav ul li a:hover, .toc .toggleNav ul li a:focus {
        color: #ffffff;
    }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
    .wrapper {
        margin: 0;
    }
}


/* typography */

h1 { /* 32 -> 40 */
    font-size: var(--h1-size);
}

h2 { /* 24 -> 30 */
    font-size: var(--h2-size);
}

h3 { /* 20 -> 24 */
    font-size: var(--h3-size);
}

h4 { /* 16 -> 20 */
    font-size: var(--h4-size);
}


body {
    background-color: var(--bg-color);
}

.logo {
    height: 20px !important;
}

.nav-footer {
    background-color: #18181a;
}


.navigationSlider .slidingNav ul li a {
    font-weight: 400 !important;
}


.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
    font-weight: 500 !important;
}



/* different blockquotes */

/* plain - white */
blockquote {
    border: 1px solid var(--bq-default-border-color);
    background-color: var(--bq-default-bg-color);
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    font-size: var(--bq-font-size);
    color: var(--base-font-color);
}

/* yellow note */
blockquote.note {
    background-color: var(--bq-note-bg-color);
    border-left: 8px solid var(--bq-note-edge-color);
    color: var(--bq-note-text-color);
}

blockquote.note::before {
    content: var(--bq-note-header-text);
    font-variant: small-caps;
    position: relative;
    top: -8px;
    font-weight: 700;
    font-size: var(--bq-header-size);
}

/* info, just blue, doesn't say info */
blockquote.tip {
    background-color: var(--bq-tip-bg-color);
    border-left: 8px solid var(--bq-tip-edge-color);
    color: var(--bq-tip-text-color);
}

blockquote.tip::before {
    content: var(--bq-tip-header-text);
    font-variant: small-caps;
    position: relative;
    top: -8px;
    font-weight: 700;
    font-size: var(--bq-header-size);
}

/* warning/danger, is red, says "warning" */
blockquote.warning {
    background-color: var(--bq-warning-bg-color);
    border-left: 8px solid var(--bq-warning-edge-color);
    color: var(--bq-warning-text-color);
}

blockquote.warning::before {
    content: var(--bq-warning-header-text);
    font-variant: small-caps;
    position: relative;
    top: -8px;
    font-weight: 700;
    font-size: var(--bq-header-size);
}

/* important, orange */
blockquote.important {
    background-color: var(--bq-important-bg-color);
    border-left: 8px solid var(--bq-important-edge-color);
    color: var(--bq-important-text-color);
}

blockquote.important::before {
    content: "important";
    font-variant: small-caps;
    position: relative;
    top: -10px;
    font-weight: 700;
    font-size: var(--bq-header-size);
}

.button {
    border-radius: 25px;
    padding: 15px;
}

body, button, input, textarea
{
    font-family:"G1" !important;
    color: var(--base-font-color);
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500 !important;
    color: var(--base-header-color);
}

/* page sidebar */
.onPageNav .toc-headings > li > a.active {
    font-weight: 500;
    color: var(--base-font-color);
}

/* hide that > */
.toggleNav h2 i {
    display: none;
}

.post a {
    color: var(--link-color);
}

.post {
    line-height: 1.5 !important;
    font-size: var(--base-font-size);
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.docs-prev.button {
    margin-top: 15px;
}
.docs-next.button {
    margin-top: 15px;
}

.button > span {
    font-weight: 500 !important;
}

.docs-prev.button > span:first-child {
    padding-left: 15px;
}
.docs-prev.button > span:last-child {
    padding-right: 15px;
}

.docs-next.button > span:first-child {
    padding-left: 15px;
}
.docs-next.button > span:last-child {
    padding-right: 15px;
}

.button:hover {
    background-color: transparent !important;
    border: solid 1px #5493f0;
    color: #5493f0;
}

/* code blocks */

code {
    font-family: "Oxygen Mono", monospace !important;
    font-variant-ligatures: none;
    border-radius: 4px;
    background-color: rgba(27, 27, 27, 0.034);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 3px;
    margin-right: 3px;
    font-weight: 500;
    border: 1px solid var(--bq-default-border-color);
}

pre code {
    font-family: "Oxygen Mono", monospace !important;
    font-variant-ligatures: none;
    background-color: rgba(27, 27, 27, 0.05);
    padding: 0px;
    border: 1px solid var(--bq-default-border-color);
    box-shadow: 0px 0px 43px -31px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

/* table */
table {
    background-color: #ffffff;
    font-size: 12px;
    margin-bottom: 25px;
    width: initial;
    display: inline-block;
    box-shadow: 0px 0px 43px -31px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--bq-default-border-color);
    border-radius: 5px;
    padding: 15px;
}

table thead {
    font-size: 13px;
    font-weight: 500;
    border-bottom: 1px solid var(--bq-default-border-color);
}

table thead th {
    padding: 15px;
}

table tr {
    border: none;
    border-bottom: 1px solid var(--bq-default-border-color);
}

table tr:nth-child(2n) {
    background-color: initial;
}

table tbody tr:hover {
    background-color: rgba(32,67,181,.02);
}

table tr:last-of-type {
    border: none;
}


table th, table td {
    border: none;
}

table td {
    padding-top: 15px;
    padding-bottom: 15px;
}
/* algolia search */

/*
input#search_input_react {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid hsla(0,0%,100%,.9);
}

input#search_input_react::placeholder {
    color: hsla(0,0%,100%,.3);
}

*/