/* Terra Documentation Theme */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.logo {
    height: 20px !important;
}

.nav-footer {
    background-color: #092363;
}

/* make navbar link bold if active */

.navigationSlider .slidingNav ul li.siteNavGroupActive a {
    font-weight: 500 !important;
}

/* make sidebar titles bold */

.toc .toggleNav .navGroup .navGroupCategoryTitle {
    font-weight: 100 !important;
}

/* different blockquotes */
blockquote {
    border-radius: 5px;
}

blockquote.info {
    background-color: #eef5ff;
    border-left: 8px solid #2566af;
}

blockquote.danger {
    background-color: #fff4f4;
    border-left: 8px solid #df1212;
}

blockquote.warning {
    background-color: #fff7f2;
    border-left: 8px solid #e26015;
}

.button {
    border-radius: 25px;
    padding: 15px;
}

body, button, input, textarea
{
    font-family:"G1" !important;
    color: #2845ae;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 100;
    color: #5493f7;
}

.onPageNav .toc-headings > li > a.active {
    font-weight: 600;
    color: #2845ae;
}